<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="collegeproject.com.nkt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeacherLogin"></activity>
        <activity android:name=".RegistrationForm"></activity>
        <activity android:name=".StudentRegistration"></activity>
        <activity android:name=".TeacherRegistration"></activity>
        <activity android:name=".AttendanceDetails"></activity>
        <activity android:name=".LectureDetails"></activity>
        <activity android:name=".StudentLogin"></activity>
        <activity android:name=".TeacherSignIn"></activity>

    </application>

</manifest>